<h3><%= l(:label_booty_bay) %></h3>
<%= link_to l(:label_library), {
  :controller => 'books', 
  :action => 'index'
} %>
<br />
<%= link_to l(:label_device_room), {
  :controller => 'devices', 
  :action => 'index'
} %>
<br />
<%= link_to l(:label_statement), {
  :controller => 'statements', 
  :action => 'index'
} %>
